body {
	background-color: #62852b; /* Couleur fallback */
    background-image: url("Mouton illuminati.jpg"); /* Image */
    background-attachment: fixed;
	background-size: cover;
}

* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	line-height: 1.5;
	margin: 0;
}

.tizizi{
	font-size: 12px;
}

h1, h2, h3, h4, .margin {
	margin: 8px 0; /* Marges internes */
}

main, header, table {
	box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.5);
	background-color: rgba(255, 255, 255, 0.75); /* Couleur de la boîte ! */
}
main {
	width: 100%;
	margin: 32px auto;
	text-align: center;
}

.padding {
	padding: 16px; /* Padding bordure */
}

table {
	margin: auto;
	border-collapse: collapse;
}
table * {
	border: 1px solid black;
}

img {
	width: 90%; /* Largeur image petit écran */
	height: auto;
}

@media only screen and (min-width: 800px) {
    main {
		width: 70%; /* Largeur boîte moyen écran */
		max-width: 1800px;
	}
}

@media only screen and (min-width: 1200px) {
    img {
		width: 60%; /* Largeur image grand écran */
	}
}